#body11 {
    background-image: url('file:///C:/Users/dobes/OneDrive/jardakuzel.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
}
#h11 {  
    text-align: center; margin-top: 0px;
    font: bold arial;
    margin-top: 0px;
}
#p11, #p12, #p13, #p14, #p15{
    text-align: center;
    margin-top: 20px;
    font: bold arial;
}
#div11 {
    border: 0.7rem coral solid;
    width: 350px;
    height: 570px;
    background-color: lightblue;
    opacity: 0.6;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
#form11, #form12, #form13, #form14, #form15 {
    text-align: center;
    margin-left: auto;
    margin-bottom: 20px;
}
#button11 {
    height: 35px;
    width: 70px;
    margin-left: 140px;
    text-align: center; margin-top: 10px;
}

#body21 {
    background-image: url('file:///C:/Users/dobes/OneDrive/jardakuzel.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#div21 {
    border: 0.7rem fuchsia solid;
            width: 350px;
            height: 410px;
            background-color: white;
            border-radius: 100px;
            margin-bottom: 150px;
            margin-left: auto;
            margin-right: auto;
            opacity: 0.6;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 150px;
}
#h21 {
    text-align: center; margin-top: 0px;
            font: bold arial;
            margin-top: 0px;
}
#p21, #p22 {
    text-align: center; margin-top: 30px;
            font: bold arial;
}
#form21, #form22 {
    text-align: center;
    margin-bottom: px;
}
#button21 {
    height: 35px;
    width: 70px;
    margin-left: 140px;
    margin-top: 10px; 
    text-align: center; margin-top: 30px; 
}
#body31 {
    background-image: url('file:///C:/Users/dobes/OneDrive/jardakuzel.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#div31 {
    border: 0.7rem coral solid;
            width: 350px;
            height: 150px;
            background-color: lightblue;
            border-radius: 100px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 200px;
            margin-bottom: 150px;
            opacity: 0.7;
            font-family: Arial, Helvetica, sans-serif;
}
#h31 {
    text-align: center; margin-top: 0px;
    font: bold arial;
    margin-top: 0px;
}
#p31, #p32 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#div41 {
    height: 100px;
    background-color: lightblue;
}
#div42 {
    width: 200px;
    height: 1000px;
    background-color: lightblue;
}
#div43 {
    width: 10000;
    height: 100000;
    background-color: lightcoral;
}

#butt41 {
    margin-top: 20px;
    height: 50px;
    width: 250px;
    margin-left: 456.3px;
    margin-right: auto;
}
#butt42 {
    margin-top: 20px;
    height: 50px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#link41 {
    margin-left: 400px;
}
.graduate {
    background: -webkit-linear-gradient(to right, rgba(12, 240, 240, 0.5), rgba(30, 77, 231, 0.5));
    background: linear-gradient(to right, rgba(12, 240, 240, 0.5), rgba(30, 77, 231, 0.5))
  }
.graduateButton {
    color: white!important;
    background: -webkit-linear-gradient(to right, rgba(224, 40, 40, 0.788), rgba(197, 22, 188, 0.5));
    background: linear-gradient(to right, rgba(224, 40, 40, 0.788), rgba(197, 22, 188, 0.5))
}
